// colors
$gruv_0: #FBF1C7;
$gruv_1: #CC241D;
$gruv_2: #98971A;
$gruv_3: #D79920;
$gruv_4: #458588;
$gruv_5: #B16185;
$gruv_6: #689D6A;
$gruv_7: #7C6F64;
$gruv_8: #928374;
$gruv_9: #9D0005;
$gruv_10: #79740E;
$gruv_11: #B57614;
$gruv_12: #076678;
$gruv_13: #8F3E71;
$gruv_14: #427B57;
$gruv_15: #3C3836;
