---
layout: default
---

<header class="p2 container">
  <a href="/">back</a>
</header>

<main id="main" class="px2 container">
  <h1>{{ page.title }}</h1>

  {{ content }}
</main>

{% render "footer", metadata: site.metadata %}
