---
layout: default
---

<header class="p2 container">
  <a href="/">back</a>
</header>

<main id="main" class="px2 container">
  <h2>{{ resource.data.date | date_to_string: "ordinal", "US" }}</h2>
  <h1>{{ resource.data.title }}</h1>

  {{ content }}
</main>

{% render "footer", links: site.data.links %}
